
  @import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: auto;
   background: linear-gradient(90deg,#0000, blue ,red);
   display: flex;
   flex-direction: column;
   align-items: center;
}

header{
    width: 100%;
    height: 10rem;
    background-image: url(/img/o6cwlzg3exk41.png);
    background-size: contain;
}

h1{
    font-size: 5rem;
    text-shadow: 0 0 15px #ffffff;
    color: #00ffff;
    font-family: 'Delicious Handrawn', cursive;
    animation: title 1s infinite;
}

@keyframes title {
    50% { text-shadow: 0 0 15 px #00ffff;
        color: #ffff00;}
    
}

hr{
    width: 90%;
    margin: 1rem;
}

main{
    margin-top: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finder-character{
    width: 30rem;
    height: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: rgb(18, 20, 20);
    padding: 1rem;
    color: aliceblue;
    font-family: 'Delicious Handrawn', cursive;
}

.container-cards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.card-character{
    width: 20rem;
    height: 10rem;
    background-color: rgb(101, 24, 101);
    border: groove 5px gray;
    margin: 1rem;
    display: flex;

}
.card-character > img{
    width: 50%;
    height: 100%;
}

.card-character > .description-card{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-card > h2 {
    text-align: center;
    color: #ffff00;
    text-shadow: 0 0 15px #ffffff;
}
.description-card > p {
    font-size: 1.5rem;
    text-align: center;
    color: #00ffff;
    margin-top: 2rem;

}

footer{
    width: 100%;
    height: 3rem;
    background-color: #0babab;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer > a{
    color: #ffffff;
}
